
.card
    width: 360px
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26)
    background-color: white
    position: absolute
    padding-bottom: 60px

    > .image
        background-color: white
        background-repeat: no-repeat
        width: 100%
        border: 0px

    > .title
        padding: 20px
        padding-bottom: 5px
        background-color: white
        font-size: 24px
        font-weight: bold
