
$handlesize = 18px

.workbench-entity
    position: absolute
    padding: $handlesize
    border: 1px dashed black

    > .child
        width: 100%
        height: 100%

    > .left, > .right, > .top, > .bottom
        position: absolute
        background: url('/workbench/arrow-gold.svg') no-repeat center
        background-size: $handlesize $handlesize
        height: $handlesize
        width: $handlesize

    > .left
        left: 0px
        top: 50%
        cursor: w-resize
        transform: translate(0px, -9px)

    
    > .right
        right: 0px
        top: 50%
        cursor: e-resize
        transform: rotate(180deg) translate(0px, 9px)

    > .top
        top: 0px 
        left: 50%
        transform: rotate(90deg) translate(0px, 9px)
        cursor: n-resize

    > .bottom
        bottom: 0px 
        left: 50%
        transform: rotate(270deg) translate(0px, -9px)
        cursor: s-resize

    > .mover
        position: absolute
        left: $handlesize
        right: $handlesize
        top: $handlesize
        bottom: $handlesize
        cursor: move
