
$handlesize = 18px

.workbench-entity
    position: absolute
    margin: $handlesize
    border: 1px dashed black

    &.no-border
        border: none

    > .child
        width: 100%
        height: 100%

    > .left, > .right, > .top, > .bottom
        position: absolute
        background: url('/workbench/arrow-gold.svg') no-repeat center
        background-size: $handlesize $handlesize
        height: $handlesize
        width: $handlesize
    
    > .right
        right: - $handlesize
        top: 50%
        cursor: e-resize
        transform: rotate(180deg) translate(0px, 9px)

    > .bottom
        bottom: - $handlesize
        left: 50%
        transform: rotate(270deg) translate(0px, -9px)
        cursor: s-resize

    > .mover
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        cursor: move
        z-index: 10000
